@charset 'UTF-8';
/* CSS Document */
/*
#overview
glo

*/
/*
#colors

@gray #3d3935
@secondary #333
@light-gray #b2b9b8
@blue #005587
@light-blue #dee9f4
@orange #e35205

*/
/* var ==================================================== */
/* common ================================================= */
/*mediaquery*/
/*
#styleguide
.break-point

pc  1028px
tab 768px
sp  480px
*/
/*break point*/



/*body:before {
    content:"";
    position: absolute;
    background: url(../images/_age.jpg) center top no-repeat;
    height: 3046px;
    width: 1280px;
    top: 0;
    left: 50%;
    margin-left: -640px;
    z-index: 3;
    opacity: 0.5;
    pointer-events: none;
}*/


html
{
    height: 100%;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
    font-size: 1.6rem;

    height: 100%; 

    text-align: center;
}

img
{
    max-width: 100%;
    height:auto;
}

/*
#styleguide
.spbr

mediaqueryでスマホ時のみdisplay:block;を指定し改行
*/
@media screen and (max-width: 768px)
{
    .spbr
    {
        display: block;
    }
}

.cf:after
{
    display: block;
    clear: both; 

    content: '';
}

/*
#styleguide
.inp_mail

メールアドレス登録のform>inputのStyleは共通
*/


.timerbox .inp_mail
{
    width: 97%;
}

.timerbox .inp_send
{
    width: 66%;
}


.inp_mail
{
    font-size: 1.6rem;
    display: block;
    width: 84%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    color: #b2b9b8;
    border: none;
    border-radius: 25px;
}
.inp_mail.inp_focus{
    color: #000;

}


@media screen and (max-width: 999px)
{
    .inp_mail
    {
        font-size: 1rem;
        width: 60%;
        padding:12px 0;
    }
}

.inp_send
{
    width: 58%;
    margin-top: 4%;
}
@media screen and (max-width: 768px)
{
    .inp_send
    {
        width: 38%;
    }
}

/* section_firstview ====================================== */
.firstview
{
    position: relative; 
    background: url(../images/kv_bk.png) no-repeat;
    background-position: left center;
    background-size: cover;
    height: 100%;
    min-height: 860px;
}
@media screen and (max-width: 999px)
{
    .firstview
    {
        padding-bottom: 10%;
    }
}
@media screen and (max-width: 768px)
{
    .firstview
    {
        background: url(../images/kv_bk_sp.png) no-repeat;
        background-size: cover;
        height: initial;
        min-height: initial;
    }
}

/*
@media screen and (min-width: 480px)
{
    .firstview
    {
        height: 100%;
        min-height: 800px;
    }
}*/


.firstview .mainlogo
{
    position: absolute;
    top: 1%;
    left: 15%;
    width: 223px;
}

@media screen and (max-width: 999px)
{
    .firstview .mainlogo
    {
        top: 3%;
        left: 5%;
        width: 25%;
    }
}
@media screen and (max-width: 768px)
{
    .firstview .mainlogo
    {
        position:static;
        width: 40%;
        margin-left: 5%;
    }
}
.firstview .innerbox
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 768px)
{
    .firstview .innerbox
    {
        position:relative;

    }
}


.firstview #scrollbtn
{
    position: absolute;
    right: 0;
    bottom: 2%;
    left: 0;
    width: 10%;
    margin: auto;
}
@media screen and (max-width: 768px)
{
    .firstview #scrollbtn
    {
        display: none;
    }
}

.kvbox
{
    position: absolute;
    /*top: 120px;*/
    top: 50%;
    bottom: 0;

    width: 60%;
    margin: auto;
margin-top: -380px;
    background: url(../images/kv_core.png) no-repeat center center;
    background-size: 74%;
    pointer-events:none;
}
@media screen and (max-width: 768px)
{
    .kvbox
    {
        top:-70%;
        margin-top: 0;
        width: 100%;
        left: 0;
        right:0;
    }
}
.kvbox #chimg
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 66%;
    margin: auto;
}
.kvbox .kvflashbox
{
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%; 
    margin: auto;
}
@media screen and (max-width: 768px)
{
    .kvbox .kvflashbox
    {
        right: 0;
        left: 0;

        width: 80%;
    }
}
.kvbox .kvflashbox .chflash,
.kvbox .kvflashbox .chflash_always
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}
.kvbox .kvflashbox .chflash
{
    display: none;
}

.timerbox
{
    font-weight: bold; 
    position: absolute;
    color: #3d3935;
    /*top: 28.3%;*/
    top: 50%;
    margin-top: -210px;
    right: 12.5%;
    width: 32%;
}

@media screen and (max-width: 768px)
{
    .timerbox
    {
        position:static;
        width: 80%;
        top: 28.3%;
        margin-top: 0;
        padding:60% 10% 0;
    }
}
.timerbox .ttl
{
    margin-bottom: 15px;
}
.timerbox .ttl .pcOnly{margin: 0 auto;}
@media screen and (max-width: 768px)
{
    #zeroChange .toText{
        position: relative;
        overflow: hidden;
        font-size: 18px;

    }
    #zeroChange .toText:before{
        content: "";
        height: 1px;
        background: #000;
        position: absolute;
        left: 0;
        top: 50%;
        width: 50%;
        margin-left: -3.5em;
    }
    #zeroChange .toText:after{
        content: "";
        height: 1px;
        background: #000;
        position: absolute;
        right: 0;
        top: 50%;
        width: 50%;
        margin-right: -3.5em;
    }
    .timerbox .ttl
    {
        margin-bottom: 10px;
    }
}
.timerbox .txt01
{
    padding: 15px 0 15px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 1.8rem;
    letter-spacing: 0.7px;
}
@media screen and (max-width: 768px)
{
    .timerbox .txt01
    {
        padding: 10px 0;
        font-size: 1.4rem;
    }
}


.timerbox .txt02
{
    padding: 10px 0 16px 0;
}
@media screen and (max-width: 768px)
{
    .timerbox .txt02
    {
        font-size: 1.4rem; 

        padding: 15px 0;
    }
}
.timerbox .changedTxt
{
    font-size: 2.4rem; 

    padding-bottom: 5%;
}

/* section productdesc ==================================== */
.productdesc
{
    max-width: 1276px;
    margin: 0 auto;
    position:relative;
}
@media screen and (max-width: 768px)
{
    .productdesc
    {
        width: 90%;
        margin: 0 auto;
    }
}
.productdesc .innerbox
{
    max-width: 1015px;
    margin: 0 auto;
    padding: 11.5% 0 13.3% 0;
}
@media screen and (max-width: 768px)
{
    .productdesc .innerbox
    {
        background-position: right top; 
        background-size: 45%;
        padding:5% 0;
    }
}
.productdesc .innerbox .maintxt
{
    font-size: 3.8rem;
    font-weight: bold;
    width: 50%;
    color: #e35205;
    text-align: right;
    margin-bottom: 25px;
    padding-bottom: 5px;
    float: left;
    margin-right: 50%;
    position: relative;
    z-index: 3;
}
@media screen and (max-width: 999px)
{
    .productdesc .innerbox .maintxt
    {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 768px)
{
    .productdesc .innerbox .maintxt
    {
        font-size: 2.6rem;
    width: 100%;
    text-align: center;
    }
}
.productdesc .innerbox .maintxt span
{
    font-size: 1.6rem;
}

.productdesc .innerbox .productdescImg{
    
    position: absolute;
    top: 118px;
    right:0;
    pointer-events: none;
    z-index: 0;
    background: url(../images/device.png) no-repeat top center;
    -webkit-background-size: contain;
    background-size: contain;
    width:692px;
    height: 496px;
}

.productdesc .innerbox .productdescImg img{
    display: none;

}

@media screen and (max-width: 768px)
{
    .productdesc .innerbox .productdescImg
    {
        float:none;
        width:100%;
        height: auto;
        position:static;
        background: none;
    }
    .productdesc .innerbox .productdescImg img{
        display: inline-block;
    }
}

.productdesc .innerbox .ttlbox
{
    width: 50%;
    margin-right: 50%;
    position: relative;
    z-index: 2;

}
@media screen and (max-width: 999px)
{
    .productdesc .innerbox .ttlbox
    {
        width: 50%;
    }
}
@media screen and (max-width: 768px)
{
    .productdesc .innerbox .ttlbox
    {
        right: 0;
        width: 100%;
        margin: 0 auto;
        padding-top: 5%;
        margin-top: -15%;
    }
}
.productdesc .innerbox .ttlbox .txt
{
    width: 100%;
    margin: 0 auto;
    text-align: right;
    color: #4d4d4f;
    line-height: 1.5;
    font-size: 1.8rem;
    letter-spacing: 0.01px;
    white-space: pre-line;
    overflow: hidden;
}
@media screen and (max-width: 999px)
{
    .productdesc .innerbox .ttlbox .txt
    {
        width: 100%;
    }
}
@media screen and (max-width: 768px)
{
    .productdesc .innerbox .ttlbox .txt
    {
        text-align: left;
        width: 100%;
        white-space: normal;
        font-size: 1.6rem;
    }
    .productdesc .innerbox .ttlbox .txt br{
        display: none;
    }
}
.productdesc .aside
{
    font-size: 1.2rem;
    font-weight: bold; 

    width: 90%;
    margin: 0 auto;

    text-align: left;

    color: #b2b9b8;
}
@media screen and (max-width: 768px)
{
    .productdesc .aside
    {
        font-size: 1rem;

        width: 95%;
        margin: 0 auto;
    }
}

.desclist .ttl
{
    font-size: 2.8rem;
    font-weight: bold;

    padding-bottom: 1%; 

    color: #e35205;
}
@media screen and (max-width: 768px)
{
    .desclist .ttl
    {
        font-size: 1.8rem;
    }
}

.desclist .list
{
    padding-bottom: 2%;
}
.desclist .list li
{
    float: left; 

    width: 20%;
    padding: 0 2.5%;
}
@media screen and (max-width: 768px)
{
    .desclist .list li
    {
        width: 40%;
        padding: 2% 5%;
    }
}

/* section free =========================================== */
.free
{
   padding: 4% 0px 2.2%;
    background: url(../images/bg_free.jpg)no-repeat center;
    background-size: 100% 100%;
}
@media screen and (max-width: 768px)
{
    .free
    {
        background:none;
        padding:0;
    }
}
.free .innerbox
{
    max-width: 980px;
    margin: 0 auto;
    padding:2.5% 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1028px)
{
    .free .innerbox
    {
        width: 90%;
        margin: 0 auto;
    }
}
.free .contents01
{
    float: left; 
    width: 45%;
    margin-right: 10%;

}
.free .contents01 .kv{
    margin-top: -15px;
    margin-bottom: 15px;
}
.free .contents01 img{
    vertical-align: middle;
}


@media screen and (min-width: 768px)
{
    .free .contents01
    {
        padding-top: 5px;
    }
}
@media screen and (max-width: 768px)
{
    .free .contents01
    {
        float: none;
        width: 90%;
        margin: 0;
        padding: 7% 5%;
        background:url(../images/bg_free_sp.jpg) no-repeat center;
        background-size: cover;
    }
}
@media screen and (max-width: 768px)
{
    .free .contents01 .kv
    {
        width: 70%;
        margin: 0 auto;
    }
}
.free .contents01 .txt
{
    font-size: 1.8rem;
    color: #555555;
    white-space: pre;
    line-height: 1.5;
    text-align: left;
}

@media screen and (max-width: 768px)
{
    .free .contents01 .txt
    {

        text-align: left;
        white-space: normal;
        font-weight: normal;
        font-size: 1.6rem;
        margin-top: 20px;
    }
     .free .contents01 .txt br{
        display: none;
     }
}
.free .contents02
{
    float: left; 
    width: 45%;
    margin-top: -30px;
    /*background: #e35205;*/
    /*border-radius: 50%;*/
}

}
@media screen and (max-width: 999px)
{
    .free .contents02
    {
        width: 42%;
        padding-left: 5%;
    }
}
@media screen and (max-width: 768px)
{
    .free .contents02
    {
        width: 90%;
        padding: 5%;
        background: #fff;
        height:auto;
        margin-top: 0;
        float:none;
    }
}

.free .contents02 .innerBg{
    /*background: url(../images/bg_mail.png) no-repeat center;*/
    background: #e35205;
    background-size: 100% auto;
    height: auto;
    width: 100%;
    height: auto;

    margin: 0 auto;
    
    border-radius: 50%;
}

@media screen and (max-width: 768px)
{
   .free .contents02 .innerBg{
    width: 350px;
    height: 350px;
    padding-top: 4%;
    padding-bottom: 4%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    }
}

@media screen and (max-width: 768px)
{
     .free .contents02 .innerBg
    {

     /*  width:60%;
       margin:0 auto;*/
    }
}

.free .contents02 .ttl
{
    font-size: 3rem; 
    font-weight: bold;
    color: #fff;
    padding-top: 75px;
    width:100%;
}
@media screen and (max-width: 999px)
{
    .free .contents02 .ttl
    {
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 768px)
{
    .free .contents02 .ttl
    {
        font-size: 1.8rem;
        padding-top: 10%;
    }
}
.free .contents02 .ttl span
{
    color: #fff;
}
.free .contents02 .txt
{
    font-size: 1.4rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
@media screen and (min-width: 1028px)
{
    .free .contents02 .txt
    {
        padding: 16px 0 16px;
    }
}
@media screen and (max-width: 999px)
{
    .free .contents02 .txt
    {
        padding: 10px 0;
    }
}
@media screen and (max-width: 768px)
{
    .free .contents02 .txt
    {
        width: 90%;
        padding: 15px 0;
    }
}

.free .contents02 .contents2form{
    width:100%;
    margin: 0 auto;
    padding-bottom: 75px;
}

@media screen and (max-width: 768px)
{
    .free .contents02 .contents2form
    {
       padding-bottom: 10px;
    }
    .free .contents02 .contents2form .inp_mail{
        width: 80%;
    }
    .free .contents02 .contents2form .inp_send{
        width: 58%;
    }
}

/* section store =========================================== */
.store
{
    font-weight: bold; 
    padding: 3% 0 5.4%;
    background: url(../images/store_bk.jpg) no-repeat center center;
    background-size: cover;
}

@media screen and (max-width: 768px)
{
    .store
    {
       background:url(../images/store_bk_sp.jpg) no-repeat center;
       background-size: cover;
    }
}

.store .ttl
{
    width: 20%;
    margin: 0 auto;
}
@media screen and (max-width: 768px)
{
    .store .ttl
    {
        width: 20%;
    }
}
.store .txt
{
    padding: 0 0 2% 0; 

    color: #fff;
}
@media screen and (max-width: 768px)
{
    .store .txt
    {
        width: 90%;
        margin: 0 auto;

        background: none;
    }
}
.store .txt .midle
{
    font-size: 3.4rem;
    line-height: 1.2;

    display: block;

    padding-bottom: 10px;
}
@media screen and (max-width: 768px)
{
    .store .txt .midle
    {
        font-size: 2.4rem;
    }
}

.store aside
{
    color: #fff;
    padding-top: 25px;
    font-weight: normal;
}

/* section footer ================================================ */
footer
{
    font-size: 1.4rem;
    width: 78%;
    margin: 0 auto;
    padding: 1% 0;

    color: #3d3935;
}
@media screen and (max-width: 768px)
{
    footer
    {
        font-size: 1.2rem;
        width:90%;
    }
}
footer .txt
{
    padding: 2% 0;
    font-size: 1.6rem;
    line-height: 1.7;
    text-align: center;
    border-top: 1px solid #3d3935;
    border-bottom: 1px solid #3d3935;
}
@media screen and (max-width: 768px)
{
    footer .txt
    {
        border-top: none;
        font-size: 1.2rem;
        text-align: left;
        padding: 15px 0;
    }
}
footer .txt span
{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
}
footer .tellbox
{
    padding: 3% 0 3%;
    line-height: 1.5;
    border-bottom: 1px solid #3d3935;
}
@media screen and (max-width: 768px)
{
    footer .tellbox{
        padding: 15px 0;
    }
}
footer .tellbox .tell
{
    display: inline-block;

    text-decoration: none;

    color: #3d3935;
}
footer .tellbox .tell span{
    font-size: 20px;
}

footer .list
{
    max-width: 685px;
    margin: 0 auto; 
    padding: 3% 0 1% 0;
}

footer .list li{
    float: left;
    padding: 0 5%;


}
footer .list li:not(:last-of-type){
    border-right: 1px solid #3d3935;
}
@media screen and (max-width: 768px)
{

    footer .list{
        padding-top: 0;
        max-width: initial;
    }
    footer .list li
    {
   display: block;
   float: none;
   border: none;
   padding: 3% 0px;
   border-bottom: 1px solid #3d3935;
    }
    footer .list li:not(:last-of-type)
    {
        border-right: none;
    }
}
footer .list li a
{
    text-decoration: none;

    color: #3d3935;
}
footer .list li a:hover
{
    color: #3d3935;
}

footer small{
        font-size: 16px;
    display: block;
    margin-top: 10px;
}
@media screen and (max-width: 768px)
{
    footer small{
        font-size: 1.2rem;
        padding-bottom: 10px;

    }
}


.age{
    background:url(../images/bg_year.jpg) no-repeat center;
    background-size: cover;

height: auto !important;
 height: 100%;
 min-height: 100%;
 
}

.age .ageContent {
    max-width:1000px;
    width:100%;
    margin: 0 auto;
    padding-top:80px;
    padding-bottom: 80px;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}

.age .ageContent .text{
    
    text-align: center;
    line-height: 1.6;
    color:#3d3935;
}

@media screen and (max-width: 768px)
{
    .age .ageContent{
        font-size: 1.7rem;
    }
    .age .ageContent .text
    {

        line-height: 1.5;
        width: 90%;
        margin: 0 auto;
    }

}

.age .ageContent .question{
    text-align: center;
    line-height: 1.6;
    margin-top: 60px;
    color:#3d3935;
}



@media screen and (max-width: 768px)
{
     .age .ageContent .question
    {

        line-height: 1.5;
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
    }
}

.age .ageContent .btnList ul{
    overflow: hidden;
    max-width:400px;
    margin:50px auto 0;
}


@media screen and (max-width: 768px)
{
     .age .ageContent .btnList ul
    {
        max-width: 260px;
    }
}

.age .ageContent .btnList li{
    float: left;
    width:40%;
}

@media screen and (max-width: 768px)
{
     .age .ageContent .btnList li
    {
        width: 45%;
    }
}


.age .ageContent .btnList li:first-child{
    margin-right: 20%;
}

@media screen and (max-width: 768px){
    .age .ageContent .btnList li:first-child{
        margin-right: 10%;
   }
}

.age .ageContent .btnList li:last-child{
    cursor: pointer;
}
/*
.ageContent .btnList p{
    vertical-align: middle;
    display:table-cell;
    text-align: center;
    width:150px;
    height:150px;
    border-radius: 50%;
}

.age .ageContent .btnList .yesBtn{
    color:#e25205;
    border:solid 1px #e25205;
}

.age .ageContent .btnList .noBtn{
    color:#005587;
    border:solid 1px #005587;
}
*/

.age .ageContent .btnList a{
    display:block;
    text-decoration: none;
}


.modal-overlay,
.modal {
  display: none;
}
.modal-overlay {
  width: 100%;
  height: 120%;
  background-color: #222;
  opacity: .6;
  position: fixed;
  top: 0;
  left: 0;
}
.modal {
    background-color: #fafafa;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


@media screen and (max-width: 768px)
{
     .modal
    {
        
    }
}

.modal h2{
    color:#29588c;
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 40px;
}


@media screen and (max-width: 768px)
{
     .modal
    {
        height:300px;
    }
}

.modal .text{
    color:#29588c;
    font-size: 20px;
    margin-bottom: 100px;
}

.modal-delete {
  border: 1px solid #29588c;
  color: #29588c;
  text-align: center;
  width: 160px;
  margin: 0 auto;
  padding:10px;
  border-radius: 50px;
  font-size: 20px;
}

.pcOnly{
    display:block;
}

.spOnly{
    display:none;
}



@media screen and (max-width: 768px)
{
    .pcOnly
    {
        display:none;
    }
}

@media screen and (max-width: 768px)
{
    .spOnly
    {
        display:block;
    }
}


