/* CSS Document */
.mainlogo
{
    display: block;

    width: 10%;
    margin: 0 auto;
}

.mainttl
{
    font-size: 2.6rem;

    padding: 3% 0; 

    text-align: center;

    color: #fff;
    background: #b2b9b8;
}

.contentbox
{
    font-size: 1.6rem;

    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5% 0 2% 0;
}
.contentbox .ttl
{
    font-weight: bold;

    padding: 2% 0;
}
.contentbox .ttl:not(:first-of-type)
{
    border-top: 2px solid #b2b9b8;
}
.contentbox .innerttl
{
    font-size: 1.6rem;

    padding-bottom: 10px;
}
.contentbox h3
{
    font-size: 1.6rem;

    padding: 5px 0;
}
.contentbox .txt
{
    padding-bottom: 2%;
}
.contentbox .innertxt
{
    padding-bottom: 2%;
}
.contentbox .innerlist .innerlist_txt
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.contentbox .inneraside
{
    padding-top: 2%;
}
.contentbox .indent01
{
    padding-left: 20px;
}
.contentbox .indent02
{
    padding-left: 40px;
}
.contentbox .dayte
{
    display: block;

    padding-top: 5%;
}

footer
{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

    text-align: center;

    border-top: 2px solid #b2b9b8;
}
footer .backToppage
{
    font-size: 2rem;

    display: inline-block;

    margin-top: 3%; 
    margin-bottom: 10%;

    text-decoration: none;
}
footer .copy
{
    font-size: 1.6rem;

    display: block;

    padding: 5% 0;

    border-top: 2px solid #b2b9b8;
}
